.todoWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--gray-color);
}

.todoCheckbox {
  appearance: none;
  background-color: var(--gray-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  margin: 0;
  margin-right: 1.125rem;
  cursor: pointer;
  &:checked {
    background-color: var(--main-color);
  }
  &:hover {
    opacity: 0.8;
  }
}
